{% extends 'home_page/base.html' %}

{% block title %}
    {% if object %}Редактирование {{ object.name }}{% else %}Создание продукта{% endif %}
{% endblock %}

{% block content %}
{% include 'home_page/header.html' %}

<a href="{% url 'catalog:home' %}" class="btn btn-secondary mb-3">← Назад к каталогу</a>

<h2>
    {% if object %}Редактирование "{{ object.name }}"{% else %}Добавление нового продукта{% endif %}
</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="create_product" class="btn btn-primary">Сохранить</button>
    <a href="{% url 'catalog:home' %}" class="btn btn-secondary">Отмена</a>
</form>
{% include 'home_page/footer.html' %}
{% endblock %}

